{% extends 'base.html' %}

{% block content %}
    <div class="titulo">
        <h2>Codificar Mensagem</h2>
    </div>

    <div class="form">
        <form action="/codificar" method="post" enctype="multipart/form-data">
            <label for="mensagem">Digite a mensagem a ser codificada:</label>
            <input type="text" name="mensagem" required>
            <label for="imagem">Escolha a imagem (PNG):</label>
            <input type="file" name="imagem" accept="image/png" required>
            <input type="submit" value="Codificar">
        </form>
    </div>

    <div class="encoded_image">
        {% if image_data %}
        <h2>image gerada com sucesso!</h2>
        <img src="data:image/png;base64, {{ image_data|b64encode }}"alt="image codificada">
        <br />
        <a href="data:image/png;base64, {{ image_data|b64encode }}"download="{{ image_filename }}">

            <button>
                Baixar imagem codificada
            </button>
        </a>
    </div>
{% endblock %}